/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
html { overflow-y: hidden; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
::-moz-selection{ background: hsla(214, 50%, 50%, 0.7); color:#fff; text-shadow: none; }
::selection { background: hsla(214, 50%, 50%, 0.7); color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: hsla(202, 65%, 86%, 1); }
a:hover { color: #ffff00; }

/*
    // ========================================== \\
   ||                                              ||
   ||               My styles !                    ||
   ||                                              ||
    \\ ========================================== //
*/

/*
  Colors:
    bodybg: rgba(85, 157, 204, 0.5)
    panelbg: rgba(255, 255, 255, 0.8)

*/

body {
  background: hsla(214, 33%, 60%, 0.7);
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header, footer {
  background: hsla(214, 100%, 50%, 1); /*LightSeaGreen*/
  position: fixed;
  width: 100%;
  height: 35px;
  padding: 0;
  margin: 0;
  z-index: 10;
}

header {
  top: 0;
  border-bottom: 2px solid hsla(200, 90%, 80%, 1); /*FFF808*/
  -webkit-box-shadow: 0px 2px 5px 1px hsla(228, 75%, 35%, 0.8); /*#18265e*/
          box-shadow: 0px 2px 5px 1px hsla(228, 75%, 35%, 0.8); /*#18265e*/
}

footer {
  bottom: 0;
  border-top: 1px solid hsla(200, 90%, 80%, 1);
  -webkit-box-shadow: 0px -2px 10px 1px hsla(228, 75%, 35%, 0.8); /*#18265e*/
          box-shadow: 0px -2px 10px 1px hsla(228, 75%, 35%, 0.8); /*#18265e*/
}

header h1 {
  font-size: 22px;
  position: relative;
  left: 15px;
  top: 4px;
}

header h1 a {
  color: hsla(202, 80%, 90%, 1); /*Ivory*/
  font-family: courier;
  text-decoration: none;
  font-weight: normal;
  text-shadow: 1px 1px 2px rgba(20,20,20,0.9), -1px -1px 3px rgba(20,20,20,0.6);
}
header h1 a:hover {
  color: #000;
  text-shadow: 1px 1px 2px rgba(200,200,200,0.9), -1px -1px 3px hsla(69, 83%, 67%,0.9); 
}

footer {
  color: hsla(200, 80%, 90%, 1);
  text-shadow: 1px 1px 2px rgba(20,20,20,0.9), -1px -1px 3px rgba(20,20,20,0.9);
}
footer a {
  color: #ffff00; /*Ivory*/
  text-decoration: none;
}
footer a:hover {
  color: hsla(202, 65%, 80%, 1);
}
footer .copyright {
  text-align: center;
  display: inline-block;
  position: relative;
  left: 15%;
  top: 5px;
  width: 705px;
}
footer p {
  display: inline-block;
  width: auto;
  margin: 5px 10px;
}


/* Main Navigation */

#main-nav ul {
  display: block;
  list-style: none;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}
#main-nav li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}
#main-nav li a {
  color: hsla(202, 65%, 90%, 1);
  /*text-shadow: 1px 1px 2px rgba(20,20,20,0.9);*/
  padding: 5px 8px;
  margin: 0 5px 0 0;
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
}
#main-nav a:hover,
#main-nav a.active {
  background: hsla(202, 65%, 90%, 1);
  color: hsla(200, 40%, 30%, 0.9);
  text-shadow: 1px 1px 2px rgba(200,200,200,0.9);
}

.left {
  display: inline-block;
  float: left;
}
.right {
  display: inline-block;
  float: right;
}


/* PARALLAX SCROLLING LAYERS */

/* WAVES PARALLAX */
.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 450px;
  /*display: inline-block;*/
}
#layer1 {
  background: url('../imgs/wave-1.png') repeat-x 50% 0;
  width: 10500px;
  left: -7000px;
  bottom: 50px;
  z-index: 4;
}
#layer4 {
  background: url('../imgs/wave-4.png') repeat-x 50% 0;
  width: 12000px;
  left: -10000px;
  bottom: 30px;
  z-index: 5;
}
#layer5 { 
  background: url('../imgs/wave-5.png') repeat-x 50% 0;
  width: 15000px;
  left: -12000px;
  bottom: 0px;
  z-index: 6;
}

#layer3 { /* layer3 - CONTENT LAYER */
  width: 96%;
  height: 88%;
  left: 100px;
  top: 0;
  z-index: 3; /* change to either 2: correct spot in stack; or 7: on top of stack for dev; */
}

/* CLOUDS PARALLAX */
.clouds {
  position: absolute;
}
#big-clouds {
  /*background: url('../imgs/clouds-b.png') repeat 0 0;*/
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  z-index: 0;
  display: inline-block;
}


/* Main Content Layer with the Panels */

#layer3 {
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  /*
  width: 4659px;
  height: 3362px;
  */
}

/* Ruler for positioning purposes */
#ruler {
  position: absolute;
  left: -1800px;
  top: -1210px;
  width: 4659px;
  height: 3362px;
}

#layer3 .panel {
  background: hsla(0, 0%, 98%, 0.6);
  position: absolute;
  display: inline-block;
  margin: 55px 20px;
  padding: 10px;
  overflow: hidden;
}


/* Panels */

.panel article {
  color: #000;
  font-size: 12px;
  line-height: 18px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 5px;
}
.panel article figure {
  float: left;
}
.panel article .gallery {
  /*background: rgba(255, 255, 255, 0.4);*/
  position: relative;
  display: inline-block;
  width: 685px;
  height: 820px;
  float: left;
  overflow: hidden;
}
.panel article .project-content {
  background: hsla(205, 5%, 98%, 1);
  display: inline-block;
  position: relative;
  width: 265px;
  margin-left: 10px;
  float: right;
  padding: 5px;
  max-height: 610px;
  overflow: hidden;
}
.panel article .project-content h2 {
  display: inline-block;
  font-size: 22px;
  font-weight: normal;
  margin: 5px 0 15px;
}
.panel article .project-content p {
  margin-bottom: 10px;
}
.panel article .project-content ul {
  display: inline-block;
  width: 400px;
  height: auto;
  list-style: disc;
}
.panel article .project-content li {
  width: auto;
  height: auto;
  display: block;
  float: none;
}

/* Rows */
.row0 {
  top: -1200px;
}
.row1 {
  top: 0;
}
.row2 {
  top: 1200px;
}
.row3 {
  top: 2700px;
}

/* Cols */
.col0 {
  left: -1700px;
}
.col1 {
  left: 0;
}
.col2 {
  left: 1700px;
}

/*
  Colors:
    bodybg: rgba(85, 157, 204, 0.5)
    panelbg: rgba(255, 255, 255, 0.8)

*/


/* SLIDERS STYLES & OVERRIDES */

.anythingSlider {
  display: inline-block;
  margin: 0;
}

.anythingSlider-default {
  margin: 0;
  padding: 2px 0;
}
.anythingSlider-default.activeSlider .anythingControls ul {
  margin: 15px;
  padding: 0;
  position: relative;
  width: 655px;
  left: 7px;
  top: 15px;
  display: inline-block;
  float: none;
}

.anythingSlider-default.activeSlider .anythingControls a {
  background: none;
  border: 3px dashed #fff;
  display: inline-block;
  height: 90px;
  padding: 2px;
  margin: 0 7px 17px 7px;
}
.anythingSlider-default.activeSlider .anythingControls a.cur,
.anythingSlider-default.activeSlider .anythingControls a:hover {
  background: none;
  border: 3px dashed rgba(237, 38, 36, 0.6);
}
.anythingSlider-default .anythingControls a.cur {
  background: none;
}

.slider li {
  display: inline-block;
  position: relative;
  float: left;  
}
.slider li object {
  position: relative;
  display: inline-block;
}
.thumbNav {
  list-style: none;
  display: inline-block;
  top: 20px;
  position: relative;
}
.thumbNav li {
  display: inline-block;
  position: relative;
  width: auto;
}


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}