#panel7 #game {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    position: relative;
    top: 20px;
    font-family: arial;
}
#panel7 #game p:last-child {
    margin-top: 10px;
}
#panel7 a {
    color: hsla(202, 40%, 30%, 1);
    font-size: 14px;
    font-weight: bold;
}
#panel7 a:hover {
    color: hsla(0, 100%, 50%, 1);
    border: 0;
}
#panel7 ul {
    display: inline-block;
    list-style: none;
}
#panel7 li {
    display: inline-block;
    position: relative;
    float: left;
    margin: 0 25px;
    padding: 0;
    width: 113px;
    height: 109px;
}
#panel7 li a {
    padding: 45px 56px;
    position: absolute;
    left: 0;
    text-indent: -99999px;
}

#panel7 #Rock { background: url('rock.png') no-repeat 0 0; }
#panel7 #Scissors { background: url('scissors.png') no-repeat 0 0; }
#panel7 #Paper { background: url('paper.png') no-repeat 0 0; }

#panel7 h1 {
    font-size: 34px;
    display: block;
}
#panel7 h3 {
    font-size: 18px;
    display: block;
    margin: 20px 0 30px;
}

#panel7 #results {
    width: 80%;
    position: relative;
    top: 0;
    margin: 0 auto;
    display: inline-block;
}
#panel7 #results div {
    text-align: center;
}
#panel7 #player, 
#panel7 #computer, 
#panel7 #winner {
    font-size: 30px;
    display: inline-block;
    position: relative;
    width: auto;
    float: left;
    text-align: center;
    color: blue;
    padding: 10px 20px;
}
#panel7 #computer {
    float: right;
}
#panel7 #winner {
    display: inline-block;
    width: 300px;
    top: 70px;
    left: 0;
    text-align: center;
    height: 50px;
    padding-top: 20px;
    color: maroon;
    font-weight: bold;
}
#panel7 h2 {
    color: #000;
    font-size: 20px;
    text-decoration: underline;
}
#panel7 header,
#panel7 footer {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
#panel7 footer span {
    float: right;
}